{% extends "layout.html" %}
{% block title %}Muokkaa profiilia{% endblock %}
{% block content %}


<div class="content-wrapper single">
    <div class="content-nobg">
        <h2>Muokkaa profiilia</h2>
    </div>

    <div class="content">

        <form action="/edit_profile" method="POST">
            <p>Lempiruoka:<br>
                <input type="text" name="favorite_food" placeholder="Päivitä lempiruoka" value="{{ content[1] }}">
            </p><input type="submit" value="Päivitä lempiruoka">

        </form>

        <form action="/edit_profile" method="POST">
            <p>Profiiliteksti:<br>
                <textarea name="bio" rows="10" cols="50">{{content[2]}}</textarea>
            </p>
            <input type="submit" value="Päivitä bio">
        </form>
        <br>
        <a href="/profile/{{ session.username }}">Takaisin profiiliin</a>
    </div>
</div>
{% endblock %}