{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if not session.username %}
<br>
<a href="/login">Kirjaudu sisään</a> tai
<a href="/register">Luo käyttäjätunnus</a>
<br>
{% endif %}
<h1>CafeMeet</h1>
<b>Maistuisiko lounas, mutta olet lounasseuraa vailla?</b>
<p>Lisää oma lounasseurailmoituksesi, tai liity jonkun toisen joukkoon!</p>

<h1>Uusimmat ilmoitukset</h1>

{% if latest_posts %}
{% for post in latest_posts %}
<p>
    <a href="/profile/{{ post[0] }}">{{ post[0] }}</a> haluaa lounasseuraa
    {% if post[3] and post[4] %}
    paikkaan <b>{{ post[3] }}</b>, {{ post[4] }}
    {% elif post[3] %}
    paikkaan <b>{{ post[3] }}</b>
    {% elif post[4] %}
    paikkaan {{ post[4] }}
    {% endif %}<br>
    aikaan <i>{{ post[2] }}</i> <br>
    {{ post[5] }}<br>
    {% if post[6] == 'friends' %}
    <small>Vain kavereille</small>
    {% else %}
    <small>Julkinen</small>
    {% endif %}
    <br><small>Luotu {{ post[7] }}</small>
    {% if comments_visible %}
<p style="text-align: right;"><small>
        <a href="/posts/{{ post[8] }}"> {{ post[9] }} kommenttia - Kommentoi </a></small></p>
</p>
{% endif %}
{% endfor %}
</ul>
{% else %}
<p>Ei ilmoituksia vielä!</p>
{% endif %}



{% endblock %}