<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CafeMeet - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="header">
        <h1>CafeMeet</h1>

    </div>

    <nav>
        <ul>
            <li><a href="/">Etusivu</a></li>
            <li><a href="/posts">Lounasilmoitukset</a></li>
            <li><a href="/new_post">Luo ilmoitus</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
    </div>

</html>