{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h1>Lounasilmoitukset</h1>

{% if all_posts %}
{% for post in all_posts %}
<p>
    <a href="/profile/{{ post[0] }}">{{ post[0] }}</a> haluaa lounasseuraa
    {% if post[3] and post[4] %}
    paikkaan <b>{{ post[3] }}</b>, {{ post[4] }}
    {% elif post[3] %}
    paikkaan <b>{{ post[3] }}</b>
    {% elif post[4] %}
    paikkaan {{ post[4] }}
    {% endif %}<br>
    aikaan <i>{{ post[2] }}</i> <br>
    {{ post[5] }}<br>
    {% if post[6] == 'friends' %}
    <small>Vain kavereille</small>
    {% else %}
    <small>Julkinen</small>
    {% endif %}
<p style="text-align: right;"><small>X kommenttia - Kommentoi </small></p>
</p>
{% endfor %}
</ul>
{% else %}
<p>Ei ilmoituksia vielä!</p>
{% endif %}




{% endblock %}