{% extends "layout.html" %}
{% block title %}Lounasilmoitukset{% endblock %}
{% block content %}
<h2>Lounasilmoitukset</h2>

<div class="content-wrapper single">
    {% if access %}
    {% if all_posts %}
    {% for post in all_posts %}
    <div class="content">
        <p>
            <a href="/profile/{{ post[0] }}">{{ post[0] }}</a> haluaa lounasseuraa
            {% if post[3] and post[4] %}
            paikkaan <b>{{ post[3] }}</b>, {{ post[4] }}
            {% elif post[3] %}
            paikkaan <b>{{ post[3] }}</b>
            {% elif post[4] %}
            paikkaan {{ post[4] }}
            {% endif %}<br>
            aikaan <b>{{ post[2] }}</b> <br><br>
            {{ post[5] }}<br>
            {% if post[6] == 'friends' %}
            <small>Vain kavereille</small>
            {% else %}
            <small>Julkinen</small>
            {% endif %}
        </p>
        <p style="text-align: right;">
            <a href="/posts/{{ post[8] }}"> {{ post[9] }} kommenttia - Kommentoi </a>
        </p>

    </div>

    {% endfor %}
    {% else %}
    <div class="content">
        <p>Ei ilmoituksia vielä!</p>
    </div>
    {% endif %}
    {% else %}
    <div class="content">
        <p>Kirjaudu sisään tarkastellaksesi kaikkia ilmoituksia.</p>
    </div>
    {% endif %}
</div>

{% endblock %}