{% extends "layout.html" %}
{% block title %}Lounasilmoitus{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="left-content">
        <div class="content-nobg">
            <h2>Lounaalle?</h2>
        </div>
        <div class="content">

            {% if access %}
            <p>
                <a href="/profile/{{ data[0] }}">{{ data[0] }}</a> haluaa lounasseuraa
                {% if data[3] and data[4] %}
                paikkaan <b>{{ data[3] }}</b>, {{ data[4] }}
                {% elif data[3] %}
                paikkaan <b>{{ data[3] }}</b>
                {% elif data[4] %}
                paikkaan {{ data[4] }}
                {% endif %}<br>
                aikaan <i>{{ data[2] }}</i> <br>
            <div class="message-text">{{ data[5] }}<br><br></div>
            {% if data[6] == 'friends' %}
            <small>Vain kavereille</small>
            {% else %}
            <small>Julkinen</small>
            {% endif %}
            </p>
            {% else %}
            <p>Sinulla ei ole oikeutta nähdä tätä postausta (postaus ei ole julkinen, et ole postaajan kaveri, tai et
                ole kirjautunut sisään).</p>
            {% endif %}
        </div>
        {% if access %}
        <div class="content-nobg">
            <h2>Kommentit:</h2>
        </div>

        <div class="content">
            {% if comments %}
            {% for comment in comments %}
            <div class="comment">
                <p><a href="/profile/{{ comment[0] }}">{{ comment[0] }}</a> - {{ comment[2] }}:</p>
                <p>{{ comment[1] }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>Ei kommentteja.</p>
            {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="right-content">
        {% if access %}
        <div class="content-nobg">
            <h2>Kommentoi:</h2>
        </div>
        <div class="content">

            <form action="{{ url_for('post', id=data[8]) }}" method="POST" id="comment-form">
                {% if error %}
                <small><b>Liian pitkä kommentti! Max 1000 merkkiä.</b></small>
                {% endif %}
                <textarea name="comment" rows="4" cols="50" placeholder="Kirjoita kommentti..." required></textarea><br>
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <button type="submit">Lähetä kommentti</button>
            </form>

            {% endif %}
        </div>

    </div>
</div>
{% endblock %}